.order-card{
    width: 80%;
    margin: 15px auto;
    padding: 10px;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
}
.igwrapper{
    margin-top: 1rem;
}
.ingredientName{
    text-transform: capitalize;
    display: inline-block;
    margin: 0 10px;
    padding: 3px 5px;
    border-radius: 4px;
    border: 1px solid #fdab3173;
    background: #fdab3136;
}
